footer{
    height: 40px;
    background-color: #cfff04;
    color: black;
    padding: 0 10px;
}

footer.uk-background-primary{
    background-color: #cfff04;
    padding: 15px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}