/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* FONTS */

header.uk-background-primary{
    height: 65px;
    padding-top: 10px;
}
header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a{
    color: BLACK;
}
header nav ul li a:hover{
    color: black;
    text-decoration: none;
}
.logo{
    margin: 0px;
}
.logo a{
    font-family: 'Fjalla One', sans-serif;
    color: black;
}
.logo a:hover {
    text-decoration: none;
    color: black;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 30px;
    font-weight: 600;
}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}
header nav form input, header nav form ::placeholder, header nav form span{
    color: black !important;
}

.uk-navbar-left a{
    color: #000000;
    font-size: 25px;
    font-family: Rubik;
    text-transform: uppercase;
    font-weight: 500;
}

form.uk-search.uk-search-default{
    
}

input.uk-search-input{
    background: #cfff04;
    border: 2px solid #000000;
    color: black;
}

.uk-search-default{
    border: 2px solid black;
}

header.uk-background-primary{
    background-color: #cfff04;
}