div.contenedor{
    display: flex;
    flex-wrap: wrap;
}

div.perfil{
    width: 300px;
    height: 150px;
    border: solid 2px #cfff04;
    display: flex;
    margin: 20px;
}

div.imagen{
    margin: 20px;
}

div.imagen img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

div.nombre-usuario {
    margin: 20px;
    align-items: center;
}

div.nombre-usuario p{
    font-size: 20px;
    color: #cfff04;
}

.contenedor{
    justify-content: center;
}

div h2{
    color: #cfff04;
    font-family: Nunito;
    margin-left: 50px;
}

main{
    height: 500px;
}