<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Network</title>
    <link rel="icon"  href="/images/favicon.ico" type="image/icon type">

    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerLogueado")%>

    <div class="contenedor">
        <h1>Publicar</h1>
  
        <!-- LOGIN FORM -->
        <form action="/home" method="post">
        <div class="select">
          <div class="form-group">
                  <label>Seleccionar imagen</label>
          </div>
          <div class="form-group">
                  <input type="file" class="form-control" name="" placeholder=".">
        </div>
        </div>
        <div class="select">
          <div class="form-group">
                  <label>Pie de foto:</label>
          </div>
          <div class="form-group">
                  <input type="text" class="form-control" name="" placeholder="...">
              </div>
        </div>
        <div class="select button">
          <button type="submit" class="btn btn-warning btn-lg">Publicar</button>
        </div>
  
     </form>
    </div>
    <%- include("footer")%>
</body>

</html>