<div class="uk-navbar-right">
    <ul class="uk-flex uk-flex-between uk-flex-middle">
        <li>
            <form action="/resultado/busqueda" method="GET">
                <input type="search" class="buscador" name="busqueda" placeholder="Buscar 'Juan'...">
            </form>
        </li>
    </ul>
</div>