<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Network</title>
    <link rel="icon"  href="/images/favicon.ico" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <%- include("links") %> 
</head>


<body>
    <%- include("header")%>
    <main>
        <div class="contenedor">
            <h1>Segui los pasos para recuperar tu contraseña</h1>
      
            <!-- LOGIN FORM -->
            <form action="/user/recuperarcontra" method="GET">
            <div class="select">
              <div class="form-group">
                      <label>Nombre de usuario o email:</label>
              </div>
              <div class="form-group">
                      <input type="text" class="form-control" name="nnn1" placeholder="Usuario">
                  </div>
            </div> 
           <div class="select button">
              <button type="submit" class="btn btn-warning btn-lg">Siguiente</button>
            </div>
      
            </form>
        </div>
    </main>
    <%- include("footer")%>
</body>

</html>