<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>The Network</title>
    <link rel="icon"  href="/images/favicon.ico" type="image/icon type">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <%- include("links")%>
</head>

<body>
    <%- include("headerLogueado")%>
    <main>
        <div class="uk-section uk-section-small"> <a href="/detalleUsuario/1">
            <h2>Estos son tus resultados para "Juan"</h2>
            <div class="contenedor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <a href="/detalleUsuario/1">
                <div class="perfil">
                    <div class="imagen"> 
                        <img src="/images/users/1.jpeg" alt="">
                    </div>
                    <div class="nombre-usuario">
                        <p>Juanse</p>
                    </div>
                </div>
                </a>
                <a href="/detalleUsuario/1">
                <div class="perfil">
                    <div class="imagen"> 
                        <img src="/images/users/5.jpeg" alt="">
                    </div>
                    <div class="nombre-usuario">
                        <p>JuanoMolina</p>
                    </div>
                </div>
                </a>
                <a href="/detalleUsuario/1"><div class="perfil"> 
                    <div class="imagen"> 
                        <img src="/images/users/2.jpeg" alt="">
                    </div>
                    <div class="nombre-usuario">
                        <p>JuanaPerez</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </main>
    <%- include("footer")%>
</body>

</html>